<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4 style="margin: 18px">Today</h4>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Communities </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aakash Kumar requested to join the community "SEECS"</p>
      <div
        id="choose"
        style="display: flex; align-items: center; justify-content: flex-end"
      >
        <ion-buttons slot="end">
          <ion-button routerLink="/profile" fill="clear">
            <ion-icon
              name="person-circle-outline"
              size="large"
              color="primary"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click) = "accept()">
            <ion-icon
              name="checkmark-circle-outline"
              size="large"
              color="success"
              
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click) = "reject()">
            <ion-icon
              name="close-circle-outline"
              size="large"
              color="danger"
              
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <p style="margin-top: -6px; color: gray">15 min ago</p>
      <p id="after" style="text-align: center; margin-top: 8px; font-size: 20px;"></p>
    </ion-card-content>
  </ion-card>
</ion-content>
