.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(41, 43, 41);
}

.detail{
    border-radius: 7px;
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 16px;
    margin: 15px;
}